Prediction of credit default

This is an end to end machine learning project to predict credit default
The note book will consider the following
1. Data cleaning
2. Data exploration EDA
3. Prediction and model evaluation
4. Model optimization

In [1]:
# import libraries
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
# import pydot
%matplotlib inline
plt.style.use('seaborn-bright')

import datetime as dt
#machine learning

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Dataset is extremely large and current workspace doesn't allow to read all of it

There are several columns that are not useful (at least for now) to predict defaulters. on the other hand there are columns to leak information about loans. 

irrelevant_or_leak_info = ["id", "member_id", "funded_amnt", "funded_amnt_inv", "grade", "sub_grade", "emp_title", "issue_d","zip_code", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp",
          "total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt"]
          
  or more specifically the columns need in order to load a large dataset into this notebook version due to computing power is the cols_to_use
          
Additionally might be easier to read in chunks

In [ ]:
#Columns to read

In [24]:
cols_to_use =['loan_amnt',
 'term',
 'int_rate',
 'installment',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'loan_status',
 'pymnt_plan',
 'purpose',
 'title',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'pub_rec_bankruptcies',
 'tax_liens']

# len(["id", "member_id", "funded_amnt", "funded_amnt_inv", "grade", "sub_grade", "emp_title", "issue_d","zip_code", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp",
#          "total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt"])

20

In [3]:
credit_data = []
for chunk in pd.read_csv('Modified_lending_data.csv', chunksize=25000, index_col=0):
    credit_data.append(chunk)

    ### To only read a set number of 
# credit_data.read_csv('Modified_lending_data.csv',  nrows =350000)

In [4]:
credit_data=pd.concat(credit_data)
credit_data.shape

(816935, 52)

In [8]:
print('Rows: ', credit_data.shape[0], ' Number of columns: ', credit_data.shape[1], '\n')
credit_data.head(10)

Rows:  816935  Number of columns:  52

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,7255326,NaN,25000.0,25000.0,25000.0,36 months,12.99,842.23,B,B4,...,11027.09,Feb-2019,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0
1,70865715,NaN,8000.0,8000.0,8000.0,36 months,11.47,263.70,B,B5,...,263.45,Mar-2019,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0
2,41079864,NaN,16000.0,16000.0,16000.0,36 months,6.39,489.59,A,A2,...,650.64,Mar-2017,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0
3,69902853,NaN,15000.0,15000.0,15000.0,36 months,13.99,512.60,C,C4,...,512.60,Jan-2018,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0
4,51005594,NaN,25000.0,25000.0,25000.0,36 months,7.89,782.15,A,A5,...,782.15,Mar-2019,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0
5,54998888,NaN,15000.0,15000.0,15000.0,36 months,13.99,512.60,C,C4,...,515.76,Mar-2019,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0
6,38447561,NaN,6000.0,6000.0,6000.0,36 months,18.54,218.55,E,E1,...,18.32,Apr-2015,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0
7,114508765,NaN,20000.0,20000.0,20000.0,36 months,7.07,618.19,A,A2,...,17621.42,Mar-2018,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0
8,135963462,NaN,10000.0,10000.0,10000.0,36 months,16.46,353.85,C,C5,...,9917.51,Jan-2019,0.0,1.0,Individual,0.0,0.0,0.0,1.0,0.0
9,55272020,NaN,10000.0,10000.0,10000.0,36 months,14.65,344.95,C,C5,...,1.98,Jan-2019,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0

In [9]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816935 entries, 0 to 816934
Data columns (total 52 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          816935 non-null  int64
 1   member_id                   0 non-null       float64
 2   loan_amnt                   816935 non-null  float64
 3   funded_amnt                 816935 non-null  float64
 4   funded_amnt_inv             816935 non-null  float64
 5   term                        816935 non-null  object
 6   int_rate                    816935 non-null  float64
 7   installment                 816935 non-null  float64
 8   grade                       816935 non-null  object
 9   sub_grade                   816935 non-null  object
 10  emp_title                   764696 non-null  object
 11  emp_length                  769102 non-null  object
 12  home_ownership              816935 non-null  object
 13  annual_inc                  816935 non-null  float64
 14  verification_status         816935 non-null  object
 15  issue_d                     816935 non-null  object
 16  loan_status                 816935 non-null  object
 17  pymnt_plan                  816935 non-null  object
 18  purpose                     816935 non-null  object
 19  title                       806917 non-null  object
 20  zip_code                    816934 non-null  object
 21  addr_state                  816935 non-null  object
 22  dti                         816712 non-null  float64
 23  delinq_2yrs                 816935 non-null  float64
 24  earliest_cr_line            816935 non-null  object
 25  inq_last_6mths              816935 non-null  float64
 26  open_acc                    816935 non-null  float64
 27  pub_rec                     816935 non-null  float64
 28  revol_bal                   816935 non-null  float64
 29  revol_util                  816422 non-null  float64
 30  total_acc                   816935 non-null  float64
 31  initial_list_status         816935 non-null  object
 32  out_prncp                   816935 non-null  float64
 33  out_prncp_inv               816935 non-null  float64
 34  total_pymnt                 816935 non-null  float64
 35  total_pymnt_inv             816935 non-null  float64
 36  total_rec_prncp             816935 non-null  float64
 37  total_rec_int               816935 non-null  float64
 38  total_rec_late_fee          816935 non-null  float64
 39  recoveries                  816935 non-null  float64
 40  collection_recovery_fee     816935 non-null  float64
 41  last_pymnt_d                815526 non-null  object
 42  last_pymnt_amnt             816935 non-null  float64
 43  last_credit_pull_d          816903 non-null  object
 44  collections_12_mths_ex_med  816903 non-null  float64
 45  policy_code                 816935 non-null  float64
 46  application_type            816935 non-null  object
 47  acc_now_delinq              816934 non-null  float64
 48  chargeoff_within_12_mths    816902 non-null  float64
 49  delinq_amnt                 816934 non-null  float64
 50  pub_rec_bankruptcies        816496 non-null  float64
 51  tax_liens                   816911 non-null  float64
dtypes: float64(32), int64(1), object(19)
memory usage: 330.3+ MB

In [10]:
## Remove columns that are not useful or leak infomation about loan_status

In [11]:
credit_data = credit_data[cols_to_use]
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816935 entries, 0 to 816934
Data columns (total 32 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   loan_amnt                   816935 non-null  float64
 1   term                        816935 non-null  object
 2   int_rate                    816935 non-null  float64
 3   installment                 816935 non-null  float64
 4   emp_length                  769102 non-null  object
 5   home_ownership              816935 non-null  object
 6   annual_inc                  816935 non-null  float64
 7   verification_status         816935 non-null  object
 8   loan_status                 816935 non-null  object
 9   pymnt_plan                  816935 non-null  object
 10  purpose                     816935 non-null  object
 11  title                       806917 non-null  object
 12  addr_state                  816935 non-null  object
 13  dti                         816712 non-null  float64
 14  delinq_2yrs                 816935 non-null  float64
 15  earliest_cr_line            816935 non-null  object
 16  inq_last_6mths              816935 non-null  float64
 17  open_acc                    816935 non-null  float64
 18  pub_rec                     816935 non-null  float64
 19  revol_bal                   816935 non-null  float64
 20  revol_util                  816422 non-null  float64
 21  total_acc                   816935 non-null  float64
 22  initial_list_status         816935 non-null  object
 23  last_credit_pull_d          816903 non-null  object
 24  collections_12_mths_ex_med  816903 non-null  float64
 25  policy_code                 816935 non-null  float64
 26  application_type            816935 non-null  object
 27  acc_now_delinq              816934 non-null  float64
 28  chargeoff_within_12_mths    816902 non-null  float64
 29  delinq_amnt                 816934 non-null  float64
 30  pub_rec_bankruptcies        816496 non-null  float64
 31  tax_liens                   816911 non-null  float64
dtypes: float64(19), object(13)
memory usage: 205.7+ MB

## Evaluating target variable

In [6]:
target = 'loan_status'

In [12]:
credit_data.loan_status.value_counts()

Fully Paid     653713
Charged Off    163222
Name: loan_status, dtype: int64

In [8]:
# change labels 1 for fully paid and 0 for Charged off

status_mapping= {
    'loan_status':{
        'Fully Paid':1,
        'Charged Off' :0
    }
}

In [10]:
credit_data = credit_data.replace(status_mapping)
credit_data.loan_status.value_counts()

1    653713
0    163222
Name: loan_status, dtype: int64

In [12]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816935 entries, 0 to 816934
Data columns (total 52 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          816935 non-null  int64
 1   member_id                   0 non-null       float64
 2   loan_amnt                   816935 non-null  float64
 3   funded_amnt                 816935 non-null  float64
 4   funded_amnt_inv             816935 non-null  float64
 5   term                        816935 non-null  object
 6   int_rate                    816935 non-null  float64
 7   installment                 816935 non-null  float64
 8   grade                       816935 non-null  object
 9   sub_grade                   816935 non-null  object
 10  emp_title                   764696 non-null  object
 11  emp_length                  769102 non-null  object
 12  home_ownership              816935 non-null  object
 13  annual_inc                  816935 non-null  float64
 14  verification_status         816935 non-null  object
 15  issue_d                     816935 non-null  object
 16  loan_status                 816935 non-null  int64
 17  pymnt_plan                  816935 non-null  object
 18  purpose                     816935 non-null  object
 19  title                       806917 non-null  object
 20  zip_code                    816934 non-null  object
 21  addr_state                  816935 non-null  object
 22  dti                         816712 non-null  float64
 23  delinq_2yrs                 816935 non-null  float64
 24  earliest_cr_line            816935 non-null  object
 25  inq_last_6mths              816935 non-null  float64
 26  open_acc                    816935 non-null  float64
 27  pub_rec                     816935 non-null  float64
 28  revol_bal                   816935 non-null  float64
 29  revol_util                  816422 non-null  float64
 30  total_acc                   816935 non-null  float64
 31  initial_list_status         816935 non-null  object
 32  out_prncp                   816935 non-null  float64
 33  out_prncp_inv               816935 non-null  float64
 34  total_pymnt                 816935 non-null  float64
 35  total_pymnt_inv             816935 non-null  float64
 36  total_rec_prncp             816935 non-null  float64
 37  total_rec_int               816935 non-null  float64
 38  total_rec_late_fee          816935 non-null  float64
 39  recoveries                  816935 non-null  float64
 40  collection_recovery_fee     816935 non-null  float64
 41  last_pymnt_d                815526 non-null  object
 42  last_pymnt_amnt             816935 non-null  float64
 43  last_credit_pull_d          816903 non-null  object
 44  collections_12_mths_ex_med  816903 non-null  float64
 45  policy_code                 816935 non-null  float64
 46  application_type            816935 non-null  object
 47  acc_now_delinq              816934 non-null  float64
 48  chargeoff_within_12_mths    816902 non-null  float64
 49  delinq_amnt                 816934 non-null  float64
 50  pub_rec_bankruptcies        816496 non-null  float64
 51  tax_liens                   816911 non-null  float64
dtypes: float64(32), int64(2), object(18)
memory usage: 330.3+ MB

In [14]:
# Remove the columns that aren't important to model building or leak information about loan status 
credit_data = credit_data[cols_to_use]

In [22]:
#look for columns that have low variablility

[[col, len(pd.unique(credit_data[col]))] for col in credit_data.columns]
# credit_data.nunique(axis=1)

[['loan_amnt', 1532],
 ['term', 2],
 ['int_rate', 640],
 ['installment', 72779],
 ['emp_length', 12],
 ['home_ownership', 6],
 ['annual_inc', 45673],
 ['verification_status', 3],
 ['loan_status', 2],
 ['pymnt_plan', 1],
 ['purpose', 14],
 ['title', 40269],
 ['addr_state', 51],
 ['dti', 6299],
 ['delinq_2yrs', 27],
 ['earliest_cr_line', 727],
 ['inq_last_6mths', 9],
 ['open_acc', 78],
 ['pub_rec', 33],
 ['revol_bal', 71492],
 ['revol_util', 1294],
 ['total_acc', 134],
 ['initial_list_status', 2],
 ['last_credit_pull_d', 138],
 ['collections_12_mths_ex_med', 14],
 ['policy_code', 1],
 ['application_type', 3],
 ['acc_now_delinq', 9],
 ['chargeoff_within_12_mths', 12],
 ['delinq_amnt', 1417],
 ['pub_rec_bankruptcies', 12],
 ['tax_liens', 32]]

In [31]:

for column in credit_data:
    if len(pd.unique(credit_data[column])) <=1:
        credit_data.drop(column, axis = 1, inplace =True)
        print(column, ': has been removed')

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

pymnt_plan : has been removed
policy_code : has been removed

In [32]:
credit_data.shape

(816935, 30)

In [17]:
credit_data.dropna(inplace=True)

In [18]:
credit_data.loan_status.value_counts(normalize=True)

Fully Paid     0.805438
Charged Off    0.194562
Name: loan_status, dtype: float64